<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AirBnb Deep Dive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color: #0BADA6;" href="index.html">Home</a>
      <a class="navbar-brand" style="background-color: #0BADA6;" target="_blank" href="https://public.tableau.com/profile/sumijustin59#!/?newProfile=&activeTab=0">Tableau Link</a>
      <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            
          </li>

        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    
    <section>
      <div class="row">
        <div class="col-md-6">
          <h1>Listing vs Property Type</h1>
          <article>
          <a target="_blank" href="/static/img/Listing_PropertyType.PNG">
            <img src="/static/img/Listing_PropertyType.PNG" alt="">
          </a>
          </article>
        </div>
        <div class="col-md-6">
          <h1>Listing vs Room Type</h1>
          <article>
          <a target="_blank" href="/static/img/Listing_RoomType.PNG">
          <img src="/static/img/Listing_RoomType.PNG" alt="">
          </a>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1>Room Type vs Property Type</h1>
          <article>
            <a href="/static/img/PropertyType_RoomType.PNG">
            <img target="_blank" src="/static/img/PropertyType_RoomType.PNG" alt="">
            </a>
          </article>
        </div>
        <div class="col-md-6">
          <h1>Neighbourhood vs # of Bedrooms</h1>          
          <article>
            <a target="_blank" href="/static/img/Neighbourhood_bedrooms.PNG">
            <img src="/static/img/Neighbourhood_bedrooms.PNG" alt="Wind Map">
            </a>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1>Rooms vs Price </h1>
          <article>
            <a href="/static/img/bedrroms_price.png">
            <img target="_blank" src="/static/img/bedrroms_price.png" alt="">
            </a>
          </article>
        </div>
        <div class="col-md-6">
          <h1>Room Types vs Frequency</h1>          
          <article>
            <a target="_blank" href="/static/img/roomtype_price.png">
            <img src="/static/img/roomtype_price.png" alt="Wind Map">
            </a>
          </article>
        </div>
      </div>
      <hr>
      <h1>Stop Words </h1>
      
      <figure>
        <a target="_blank" href="/static/img/StopWords.PNG">
        <img src="/static/img/StopWords.PNG" alt="Wind Map">
        </a>
      </figure>
    </section>
  </div>
</body>

</html>
