<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Unemployment 2008-20</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body data-aos-easing="ease-out-back" data-aos-duration="1000" data-aos-delay="0">
  <!-- Navigation Section -->
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color: #0BADA6;" href="index.html">Final Project</a>
      <a class="navbar-brand" style="background-color: #0BADA6;" href="Sumi_Maps.html">Sumi Project</a>
      <a class="navbar-brand" style="background-color: #0BADA6;" href="Jeremy_Maps.html">Jeremy Stewart Project</a>
      <a class="navbar-brand" style="background-color: #0BADA6;" href="Emmanuel_Maps.html">Emmanuel Olofinkua Project</a>
      <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            
          </li>

        </ul>
      </div>
    </nav>
  </div>

  <!-- Content Section -->
  <div class="container">
    <div class="backgrounds">
			<div class="background aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500" data-aos-anchor=".section--hero"></div>
		</div>
    <h4  align="center" class="section-title">Story</h4>

    <div class="item" data-aos="flip-up"></div>

    
    <div class="item" data-aos="fade-up-right">
    
    </div>
    <div class="item" data-aos="fade-up-left">
    </div>
    <div class="col-md-12" data-aos="fade-up-right">
    </div>
    <div class="row">
      <!--First Column in this Row-->
      <div class="col-md-6">
        <div class="box">
        <h1>Team</h1>
        <h3>1. Benedicta Sumalatha</h3>
        <h3>2. Jeremy</h3>
        <h3>3. Emmanuel</h3>
        </div>
      </div>

      <!--Second Column in this Row-->
      <div class="col-md-6">
        <div class="box">
        <h1>Source</h1>
        <h4>1. London AirBnb Data - Sumi</h4>
        <h3>2. XXX Airbnb Data - Jeremy</h3>
        <h3>3. YYY Airbnb Data - Emmanuel</h3>
        </div>
      </div>
    </div>
    <h2  align="center" class="section-title">Architecture</h2>
    <div class="item1" data-aos="fade-up-left">
      <img class="panel" src="/static/img/Architecture_Final_Project.PNG" alt="Architecture">
    </div>

    <div class="item" data-aos="flip-up"></div>
    <div class="row">
      <!--First and Only Column in this Row-->
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <footer>
    <div class="footer">Copyright &copy; Awesome Team</div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

</html>
