<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AirBnb Deep Dive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body data-aos-easing="ease-out-back" data-aos-duration="1000" data-aos-delay="0">
  <!-- Navigation Section -->
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color: #0BADA6;" href="Benedicta_Visuals.html">London Analysis</a>
      <a class="navbar-brand" style="background-color: #0BADA6;" target="_blank" href="https://public.tableau.com/profile/jeremy3907#!/vizhome/PrelimInstanbulAirbnbAnalysis/Sheet1?publish=yes
      ">Istanbul Analysis</a>
      <a class="navbar-brand" style="background-color: #0BADA6;" target="_blank" href="https://public.tableau.com/profile/emmanuel.olofinkua#!/vizhome/Airbnb-ChicagoAnalysisandVisualization/AvailabilitybyHood">Chicago Analysis</a>
      <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            
          </li>

        </ul>
      </div>
    </nav>
  </div>

  <!-- Content Section -->
  <div class="container">
    <div class="backgrounds">
			<div class="background aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500" data-aos-anchor=".section--hero"></div>
		</div>
    <h4  align="center" class="section-title">AirBnb-Deep-Dive</h4>

    <div class="item" data-aos="flip-up"></div>

    
    <div class="item" data-aos="fade-up-right">
    
    </div>
    <div class="item" data-aos="fade-up-left">
    </div>
    <div class="col-md-12" data-aos="fade-up-right">
    </div>
    <div class="row">
      <!--First Column in this Row-->
      <div class="col-md-6">
        <div class="box">
          <h1>Contributors</h1>
          <p>1. Emmanuel Olofinkua - Chicago City Data Analysis</p>
          <p>2. Jeremy Stewart - Istanbul City Data Analysis</p>
          <p>3. Benedicta Justin - London City Data Analysis</p>
        </div>
      </div>

      <!--Second Column in this Row-->
      <div class="col-md-6">
        <div class="box">
          <h1>Data Source</h1>
          <p>URL : http://insideairbnb.com/get-the-data.html</p>
          <p>1. Listing Data </p>
          <p>2. Calender Data</p>
          <p>3. Reviews Data</p>
          <p>4. Neighbourhood Data</p>
        </div>
      </div>
    </div>
    <h2  align="center" class="section-title">Architecture</h2>
    <img  src="/static/img/Architecture.PNG" alt="Architecture">
    <div  data-aos="fade-up-left">
      <img  src="C:/HOMEWORK/Airbnb-Deep-Dive/static/img/Architecture.PNG" alt="Architecture">
    </div>

    <div class="item" data-aos="flip-up"></div>
    <div class="row">
      <!--First and Only Column in this Row-->
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <footer>
    <div class="footer">Copyright &copy; Awesome Team</div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

</html>